@font-face {
  font-family: "MedievalSharp";
  src: url(../fuentes/MedievalSharp-Regular.ttf); }

* {
  margin: 0px;
  padding: 0px; }

a:hover {
  color: orange; }

.contenedor-icon svg {
  padding-inline: 10px;
  color: black;
  width: 70px;
  height: 70px; }
  .contenedor-icon svg:hover {
    color: whitesmoke; }

#main-index {
  background-color: black;
  color: #f5f5f5; }

#dndtitle1 {
  font-family: "MedievalSharp";
  display: flex;
  margin: 0px;
  padding-left: 2%;
  width: 25%;
  text-align: center;
  color: #A50202;
  font-size: 300%; }

.contenedor-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.maintext {
  max-width: 1400px;
  text-align: center;
  padding-bottom: 25px;
  font-family: "MedievalSharp";
  font-size: 180%; }

.banner-principal {
  display: flex;
  background-image: url(../recursos/tiamat-email.jpg);
  background-size: cover; }

div .col-sm-3 {
  padding-bottom: 15px; }

.img400x400 {
  margin: 15px;
  height: 300px;
  width: 300px;
  object-fit: cover; }

p {
  margin-bottom: 0; }

#main-que-es {
  background-color: black;
  color: #f5f5f5; }

.ifr-que-es {
  padding-left: 5%;
  padding-right: 5%; }

#main-como-jugar {
  background-color: black;
  color: #f5f5f5; }

#fuentecomojugar {
  margin: 20px; }

#linkfuente {
  color: blue; }

.h2main {
  color: #A50202;
  margin: 20px;
  font-family: "MedievalSharp";
  font-size: 35px;
  font-weight: bolder;
  text-decoration: underline; }

ol {
  margin: 0;
  list-style-type: circle; }

.h1titulo {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "MedievalSharp";
  font-size: 50px;
  text-decoration: underline; }

#main-material {
  background-color: black;
  color: #f5f5f5; }

#fuente-material {
  margin: 20px; }

#linkfuentematerial {
  color: blue; }

.underlined-li {
  text-decoration: underline;
  font-weight: bolder; }

.accordion {
  --bs-accordion-color: #ffffff;
  --bs-accordion-bg: black;
  --bs-accordion-btn-color: $color-principal;
  font-family: "MedievalSharp";
  font-size: 24px; }

.accordion-button {
  font-family: "MedievalSharp";
  font-size: 26px; }

#accordionExample {
  max-width: 1400px;
  margin: auto; }

#maincreadores {
  background-color: black;
  color: #f5f5f5; }

.navbar-collapse {
  font-family: "MedievalSharp";
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline; }

.ancho-limitado {
  padding-left: 3%; }

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #A50202 !important; }

.nav-link:hover {
  color: whitesmoke; }

.logo-header:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 2sec; }

.footer {
  padding: 10px;
  text-align: center;
  background-color: #A50202;
  color: black; }
  .footer .footertext {
    font-family: "MedievalSharp";
    font-size: 30px;
    text-decoration: underline; }
  .footer .formulario {
    border: 2px solid whitesmoke;
    background-color: black;
    color: whitesmoke;
    margin-top: 5px; }
    .footer .formulario:focus {
      border: 1px solid orange;
      outline: 1px solid orange; }
