#main-index {
    background-color: black;
    color: $color-letra;
}

#dndtitle1 {
    font-family: "MedievalSharp";
    display: flex;
    margin: 0px;
    padding-left: 2%;
    width: 25%;
    text-align: center;
    color: $color-principal;
    font-size: 300%;
}

.contenedor-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.maintext {
    max-width: 1400px;
    text-align: center;
    padding-bottom: 25px;
    font-family: "MedievalSharp";
    font-size: 180%;
}

.banner-principal {
    display: flex;
    background-image: url(../recursos/tiamat-email.jpg);
    background-size: cover;
}

div {
    .col-sm-3 {
        padding-bottom: 15px;
    }
}

.img400x400 {
    margin: 15px;
    height: 300px;
    width: 300px;
    object-fit: cover;
}

p {
    margin-bottom: 0;
}