.contenedor-icon {
        svg {
            padding-inline: 10px;
            color: black;
            width: 70px;
            height: 70px;
            &:hover {
                color: whitesmoke;
            }
    }
    
    }